[submodule "src/liblsquic/ls-qpack"]
	path = src/liblsquic/ls-qpack
	url = https://github.com/litespeedtech/ls-qpack
	ignore = dirty
[submodule "src/lshpack"]
	path = src/lshpack
	url = https://github.com/litespeedtech/ls-hpack
	ignore = dirty
